.header{
    background-color: aqua;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.h1{
   margin: 0;
   padding: 0;
   height: 100px;
   width: 150px;
   display: flex;
   align-items: center;

}
.ul{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.li{
    display: flex;
    align-items: center;
    height: 100px;
    list-style: none;
    padding: 10px
}